.container_nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0rem;
}

.conatiner_nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
        cursor: pointer;
    }

    li a:hover {
        color: red;
    }
}